body{
    background-color: 
}
.nav-item{
    font-size: 25px;
}
.navbar-brand{
    font-size: 25px;
}
p{
    color: white;
}
.logo{
    height: 70px;
    width: 200px;
   
    padding: 5px;
}
.leo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.infoLeo{
    background-color: #0077b6;
    margin-top: -1.6%;
}
.h1Leo{
    
    margin-left: 14%;
    margin-top: -12%;
    color: white;
}
.pLeo{
    text-align: center;
    margin-right: 57%;
    color: white;
    margin-left: 2%;
}
.numriLeo{
    margin-left: 14.5%;
    color: white;
    margin-top: 3%;
}
#butoniPerMesazhLeo{
    position: absolute;
    text-align: center;
    margin-left: 14.5%;
    margin-top: -1%;

}
#butoni-thirrjeLeo{
    position: absolute;
    margin-top: 3.5%;
    margin-left: 14.5%;
    
}
.profesioni{
    position: relative;
}
.infoOlti{
    position: relative;
    background-color: #00308F;
    margin-top: 2.23%;
    height: 200px;
}
.olti{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: %;
}
h1{
    color: white;
}
.h1Olti{
    margin-left: 14%;
    margin-top: -12%;

}
.pOlti{
    position: absolute;
    margin-left: 14.5%;
    margin-top: 0%;
}
#butoniPerMesazhOlti{
    position: absolute;
    margin-left: 14.5%;
    margin-top: 1.5%;
}
#butoni-thirrjeOlti{
    position: absolute;
    margin-left: 14.5%;
    margin-top: -1%;
}
.numriOlti{
    margin-left: 14.5%;
    margin-top: 5%;
}