
.nav-item{
    font-size: 25px;
    
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: black;
}
a:hover{
    cursor: hand;
}
.navbar-brand{
    font-size: 25px;
}
.logo{
    padding: 5px;
    margin-top: -5px;
}
.dropdown-menu{
    background-color:dodgerblue;
    height: 118px; 
}
.dropdown-item{
    margin-top: -10px;
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
    color: white;
    height: 50px;
}
.dropdown-item:hover{
    background-color: black;
    color: white;
    
}
.navbar{
    height: 70px;
}

li{
    margin-top: 5px;
}
.foto{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.info{
    background-color:#E6E6E6;
    position: relative;
    height : 250px;
    padding-left: 20%;
    font-family: monospace;

}
.infoLeo{
    background-color:#E6E6E6;
    position:relative;
    height : 250px;

}
.header{
    
    margin-left: 20%;
    margin-top: -16%;
    color: darkslategray;
}
.pstaf{
    color: black;
    margin-left: 22%;
}

.numriLeo{
    margin-left: 22%;
    color: black;
    margin-top: 3%;
}
#butoniPerMesazhLeo, #butoniPerMesazhOlti, #butoniPerMesazhIsma, #butoniPerMesazhZana , #butoniPerMesazhGyltene{
    position: absolute;
    text-align: center;
    margin-left: 17.5%;
    margin-top: -1%;
    border-radius: 10px;  

}
#butoniPerMesazhLeo:hover,#butoniPerMesazhOlti:hover,#butoniPerMesazhIsma:hover,#butoniPerMesazhZana:hover,#butoniPerMesazhGyltene:hover{
    color:green;
}
#butoni-thirrjeLeo:hover, #butoni-thirrjeOlti:hover, #butoni-thirrjeIsma:hover,#butoni-thirrjeZana:hover,#butoni-thirrjeGyltene:hover{
    color: green;
}
#butoni-thirrjeLeo{
    position: absolute;
    margin-top: 2.85%;
    margin-left: 17.5%;
    border-radius: 10px;  
}
#butoni-thirrjeOlti,#butoni-thirrjeIsma,#butoni-thirrjeZana,#butoni-thirrjeGyltene{
    position: absolute;
    margin-top: -1%;
    margin-left: 17.5%;   
    border-radius: 10px;  
 
}
#butoni-thirrjeLeo:hover{
    color:green;
}
.numri{
    margin-left: 14.5%;
    margin-top: 5%;
    color:black;
}

#submit{
    border-radius: 10px;
    color: red;
    font-weight: bold;
}
a:hover{
    color: black;
}

.emailText,.passwordText{
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: black;
}
.mx-2:hover{
    color: black;
    
}
.ekipa{
    padding-left: 40%;
    font-family: monospace;
    background-color: #E6E6E6;
}
.pekipa{
    font-family: monospace;
    background-color: #E6E6E6;
}

.h1ekipa{
    margin-left: 3%;
    color: darkslategray;

}
.btn{
    margin-top: 5px;
}
.rounded-circle{
    cursor: pointer;
}
