
.nav-item{
    font-size: 25px;
    
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: black;

}
.navbar-brand{
    font-size: 25px;
}
.logo{
    
    
    padding: 5px;
    margin-top: -5px;
}
.dropdown-menu{
    background-color: #0275d8;
    
}
.dropdown-item{
    font-size: 25px;
    padding: 10px;
    text-align: center;
    padding-bottom: -5px;
    margin-top: 15px;
    color: white;

}
.dropdown-item:hover{
    background-color: black;
    color: white;
    
}


.navbar{
    height: 95px;
}

li{
    margin-top: -20px;
}
.leo{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.infoLeo{
    background-color:darkgray;
    margin-top: -1.6%;
    position:relative;
    height : 230px;
  padding-top:10px;
  padding-bottom:10px;
   
}
.h1Leo{
    
    margin-left: 14%;
    margin-top: -12%;
    color:darkslategray;
}
.pLeo{
    text-align: center;
    margin-right: 57%;
    color: white;
    margin-left: 2%;
    color:black;
}

.numriLeo{
    margin-left: 14.5%;
    color: white;
    margin-top: 3%;
    color:black;
}
#butoniPerMesazhLeo{
    position: absolute;
    text-align: center;
    margin-left: 14.5%;
    margin-top: -1%;
background-color:white

}
#butoni-thirrjeLeo{
    position: absolute;
    margin-top: 3.5%;
    margin-left: 14.5%;
    background-color: white;
    
}
#butoni-thirrjeLeo:hover{
    color:green;
}
.infoOlti{
    position: relative;
    background-color:darkgray;
    height: 250px;
   padding-top:10px;
   padding-bottom:15px;

}
.olti, .isma, .zana, .gyltene{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    }
h1{
    color: darkslategray;
}
.h1Olti, .h1Isma, .h1Zana, .h1Gyltene{
    margin-left: 14%;
    margin-top: -12%;

}
.pOlti, .pIsma, .pZana, .pGyltene{
    position: absolute;
    margin-left: 14.5%;
    margin-top: 0%;
    color:black;
    
}
#butoniPerMesazhOlti, #butoniPerMesazhIsma, #butoniPerMesazhZana, #butoniPerMesazhGyltene{
    position: absolute;
    margin-left: 14.5%;
    margin-top: 1.5%;
    background-color: white;
    
}
#butoniPerMesazhLeo:hover, #butoniPerMesazhOlti:hover, #butoniPerMesazhIsma:hover, #butoniPerMesazhZana:hover, #butoniPerMesazhGyltene:hover{
color:green;


}
#butoni-thirrje, #butoni-thirrjeOlti, #butoni-thirrjeIsma, #butoni-thirrjeZana, #butoni-thirrjeGyltene{
    position: absolute;
    margin-left: 14.5%;
    margin-top: -1%;
    background-color:white;
}
 #butoni-thirrjeOlti:hover, #butoni-thirrjeIsma:hover, #butoni-thirrjeZana:hover, #butoni-thirrjeGyltene:hover{
color:green;
}
.numri{
    margin-left: 14.5%;
    margin-top: 5%;
    color:white;
    color:black;
}

.infoIsma{
    position: relative;
    background-color:darkgrey;
    height: 250px;
    padding-top:10px;
    padding-bottom:20px;
}

.infoZana{
    position: relative;
    background-color:darkgray;
    height: 260px;
    padding-top:10px;
    padding-bottom:10px;
}

.infoGyltene{
    position: relative;
    background-color:darkgray;
    height: 270px;
    padding-top:10px;
    padding-bottom:10px;
}
#submit{
    border-radius: 10px;
    color: red;
    font-weight: bold;
}
a:hover{
    color: black;
}
.header-container-search{
    position: relative;
}
.searchText{
    position: absolute;
    margin-left: 700px;
    margin-top: 1%;
    border-radius: 5px;
    border-color: yellow;
    color: black;
}
.searchButton{
    margin-left: 900px;
    margin-top: 1%;
    border-radius: 5px;
    border-color: blue;
    color: black;
}
.emailText{
    border-radius: 8px;
}

