.paragrafi{
    margin: 100px;
    padding:150px;
}
.paragrafi>p{
    text-align: justify;
    font-size:30px;
    color:darkslategrey;
}
img{
    height:300;
    width:500px;
  padding-left:450px;
  padding-right: 500px;
  padding-bottom: 0px;
}
h2{
    color:darkolivegreen;
    font-size:40px;
}
.submit{
    border-radius: 10px;
    color: red;
    font-weight: bold;
}
a:hover{
    color: black;
}
.header-container-search{
    position: relative;
}
.searchText{
    position: absolute;
    margin-left: 700px;
    margin-top: 1%;
    border-radius: 5px;
    border-color: yellow;
    color: black;
}
.searchButton{
    margin-left: 900px;
    margin-top: 1%;
    border-radius: 5px;
    border-color: blue;
    color: black;
}
.emailText{
    border-radius: 8px;
}