
.nav-item{
    font-size: 25px;
}
.navbar-brand{
    font-size: 25px;
}

.logo{
    height: 70px;
    width: 200px;
    padding: 5px;
}

body{
    background-color:#E6E6E6;
}

a{
    text-decoration: none;
    color: black;
}

.hlajmi1{
    margin-left: 40%;
    margin-top: -22%;
    position: absolute;
}

.hlajmi2, .hlajmi3{
    position: absolute;
    margin-left: 18%;
    margin-top: -6%;
}

.plajmi1{
    margin-left: 40%;
    margin-top: -17%;
    margin-right: 30%;
    font-size: 15px;
    position: absolute;
}



.foto1{
    width: 480px;
    margin: 80px;
    margin-left: 100px;
    position: relative;
}

.foto2{
    position: relative;
}

.lajmet12, .lajmet34{
    gap: 5px;
    margin-top: 30px;
}

.lajmet34{
    padding-top: 10px;
}

.foto{
    height: 100px;
    margin-left: 110px;
}


table{
    width:100px;
    height: 30px;
    text-align: center;
   }
   a{
       text-decoration: none;
   }
   a:hover{
       color:red;
   }