body{
    background-color: black;
}

.nav-item{
    font-size: 25px;
}
.navbar-brand{
    font-size: 25px;
}
.logo{
    height: 70px;
    width: 200px;
   
    padding: 5px;
}
.kopertina{
    margin-top: -2%;
    margin-left: 36.9%;
}
.tekstiNeBalline{
    position: absolute;
    margin-top: -30%;
    font-size: 75px;
    color: white;
}

.intel{
    width: 100%;
    height: 550px;
    position: relative;
}
.amd{
    width: 100%;
    height: 550px;
}
.nvidia {
    width: 100%;
    height: 550px;
}

.subscribe{

    padding-left: 2%;
    padding-right: 2%;
    margin-top: -9%;
    padding-bottom: 5%;
}

.submit_button{
    padding-top: 0.5%;
}