body{
    padding: 0;
}
.nav-item{
    font-size: 25px;    
}
.nav-link{
    color: white;   
}
.nav-link:hover{
    color: black;

}
.navbar-brand{
    font-size: 25px;
}
.logo{
    padding: 5px;
    margin-top: -5px;
}
.dropdown-menu{
    background-color:dodgerblue;
    height: 118px; 
}
.dropdown-item{
    margin-top: -10px;
    font-size: 25px;
    padding: 0;
    text-align: center;
    margin-top: 5px;
    color: white;
    height: 50px;
}
.dropdown-item:hover{
    background-color: black;
    color: white;
    
}

.navbar{
    height: 70px;
}
li{
    margin-top: 5px;
}
.kopertina{
    margin-top: -2%;
    margin-left: 36.9%;
}
.tekstiNeBalline{
    position: absolute;
    font-size: 75px;
    color: black;
}
section{
  overflow-x: hidden;
}
a:hover{
    color: black !important;
}
.header-container-search{
    position: relative;
}


.emailText,.passwordText{
    border-radius: 8px;
}
a{
  color: white !important;
}
.blue{
    width: 100%;
}
.btn{
    margin-top: 0;
    margin-left: 5px;
    
}
.alert-success {
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px
  }
  .alert-danger{
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px
  }